
body{background-image:linear-gradient(45deg,rgb(58, 63, 131),rgba(0, 255, 255, 0.631));
}

.tela-login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    border-radius: 15px;
    color
}
input{
    padding: 15px;
    border: none;
    font-size:15px;
}
button{
    background-color:dodgerblue;
    color: white;
    font-size: 15px;
    border: none;
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
}
button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}